<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}

    <title>Invalid Room ID</title>
    <link rel="stylesheet" href="{% static 'polls/css/apollo.css' %}">


</head>
<body style="margin-top: 100px; margin-left: 140px;">
<img src="{% static 'polls/images/Apollo.png' %}" width="180px">
<p class="muted" style="font-size: 22px;">Invalid Room ID</p>
<p>The room you're trying to access doesn't exist. Are you sure the room ID you entered is correct?</p>

</body>
</html>